form{
    background-color: rgb(0, 157, 255);
    size: 0ch;
    background: url(india.jpg)no-repeat;
}
marquee{
    background-color: rgb(64, 57, 168);
     color:#fff;
   
}
.login-form{
    font-size: 30px; 
    font-weight: bold; 
    color:#fff;
}
select{
    font-size: 25px;
    border: 0;
    outline: none;
    border-radius: 10px;
}
input{
    background-color: red;
    font-size: 25px;
    border: 0;
    outline: none;
    border-radius: 10px;
}
img{
    font-size: 20px;
    border: 0;
    outline: none;
    border-radius: 10px;
}
.social{
    background-color: rgb(0, 208, 255);
}

.check{
    background-color: rgb(0, 157, 255);   
}
.feel,.kill{
    position: relative;
    max-width: 600px;
}
.kill figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 107.1%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.feel figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 111%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.bhao{
    float: left;
    width: 30%;
    padding: 5px;
}
.row{
    background-color: rgb(0, 157, 255);  
}
.column{
    float: left;
    width: 23%;
    padding: 5px;
}
.col{
    float: left;
    width: 30%;
    padding: 5px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
/*
                            <div class="column"><figure class="feel"><a href=""><img src="devi.jpg" height="310px"></a><figcaption>With God's Grace</figcaption></figure> </div></div>
    <a href=""><img src="cier.jpg" height="310px"></a>
    <a href=""><img src="chopta.jpg" height="310px"></a>
    <a href=""><img src="BUGYAL.jpeg" height="310px"></a>
    <a href=""><img src="gangotri.jpg" height="310px"></a>
    <a href=""><img src="the.jpg" height="310px"></a>
   
*/
